<h1>Ho ho ho</h1>

<p>
  Ho, ho, ho! Attention please! This year the Santa Clause needs your help. He
  is looking for elves who can help him with wrapping christmas presents. If you
  are the real elf, leave your email address and Santa will contact you.
</p>
<p>
  We currently have an application <strong><%=data%></strong> for this job.
  Hurry up, christmas is approaching!
</p>
