<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>HO HO HO</title>
  </head>
  <body
    style="
      background-image: url(https://santaclausoffice.com/wp-content/uploads/2017/09/joulupukki-tuolissaan-2-1201x1800.jpg);
    "
  >
    <div class="container" style="color: blanchedalmond">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <div class>
            <div>
              <h1>Ho ho ho!!</h1>
              <p>
                Attention please! This year the Santa Clause needs your help. He
                is looking for elves who can help him with wrapping christmas
                presents. If you are the real elf, leave your email address and
                Santa will contact you.
              </p>
              <p>
                We currently have an application <strong><%=data%></strong> for
                this job. Hurry up, christmas is approaching!
              </p>

              <div>
                <form method="POST" action="/addelf">
                  <input
                    type="text"
                    name="email"
                    class="form-control mb-2 mr-sm-2"
                    id="inlineFormInputName2"
                    placeholder="Type Your Email Here"
                  />
                  <button type="submit" class="btn btn-success btn-lg mb-2">
                    I want to help Santa
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-5"></div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
